<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>refresh_path</key>
	<string>https://securetoken.googleapis.com/v1/token</string>
	<key>register_path</key>
	<string>https://www.googleapis.com/identitytoolkit/v3/relyingparty/signupNewUser</string>
	<key>sign_in_path</key>
	<string>https://www.googleapis.com/identitytoolkit/v3/relyingparty/verifyPassword</string>
</dict>
</plist>
